@font-face {
  font-family: 'Din';
  src: url('./DINMedium.ttf')  format('truetype');
}
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,700');

html, body, #root {
  margin: 0;
  height: 100vh;
  font-family: 'Roboto', serif;
  overflow: auto !important;
}

.contacta{
  font-family: 'Din';
  line-height: 1.7em;
}
.contacta h1,h2{
  margin-top: 0;
  margin-bottom: 0.2em;
}
.contacta h2{
  margin-bottom: 0.8em;
}
.contacta .data{
  margin-left: 20px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.data h2{
  font-size: 1.1em;
}
.data a{
  color: black;
  text-decoration: none;
  line-height: 1.4em;
}

pvs-menu{
  position: fixed;
  top: -50px;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: 1s ease-in-out;
}
.logomenu{
  height: 1.6rem;
}
.actiu{
  top: 0;
}
.social{
  height: 20px;
  margin: 5px 0 0 10px;
}
md-toolbar md-select .md-text{
  font-size: 15px;
}
md-select-menu md-content{
  min-width: 45px;
}
md-select-menu md-option{
  height: 35px;
}
md-select-menu .md-text{
  font-size: 12px;
}
md-toolbar{
  min-height: 50px;
}
.md-toolbar-tools{
  height: 50px;
}
.md-sidenav-right{
  padding: 5px 25px;
}
.md-sidenav-right .md-button{
  width: 100%;
}
.md-sidenav-right md-select{
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

.main-container{
  height: calc(100vh - 70px);
  background-color: white;
  margin-top: 50px;
}
.title div{
  height: 100%;
}
.title{
  height: 100%;
}
.title img{
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
}
.mobile div{
  height: 100%;
}
.mobile{
  height: 100%;
  padding: 10px;
}
.mobile img{
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 90%;
  max-height: 80%;
}
.icona img{
  max-height: 80vh;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.text{
  font-family: 'Roboto Slab', serif;
  position: absolute;
}
.text span{
  color: #fae300;
}
.contacta span{
  color: #fae300;
}
.text h1{
  text-shadow: 2px 2px #8a8a8a;
  font-weight: 700;
  font-size: 3vmax;
  margin: 0 !important;
}
.text p{
  font-weight: 100;
  font-size: 1.7vmax;
  margin: .6rem 0 0 0;
}
.title .icona{
  padding: 3rem;
}

pvs-footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}
.footer {
  padding: 0.3rem;
  font-size: .6rem;
  background-color: #1f1f1f;
  text-align: center;
  color: white;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer a:hover {
  color: #5aadbb;
}
