html, body, #root {
  margin: 0;
  height: 100vh;
  font-family: 'Roboto', serif;
  overflow: auto !important;
}

pvs-menu{
  position: fixed;
  top: -50px;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: 1s ease-in-out;
}
.logomenu{
  height: 1.6rem;
}
.actiu{
  top: 0;
}
md-toolbar md-select .md-text{
  font-size: 15px;
}
md-select-menu md-content{
  min-width: 45px;
}
md-select-menu md-option{
  height: 35px;
}
md-select-menu .md-text{
  font-size: 12px;
}
md-toolbar{
  min-height: 50px;
}
.md-toolbar-tools{
  height: 50px;
}

.main-container{
  height: 100vh;
  background-color: white;
}
.title{
  height: 100vh;
}
.icona img{
  max-height: 80vh;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.text span{
  color: #fae300;
}
.text h1{
  font-family: 'Roboto Slab', serif;
  text-shadow: 2px 2px #8a8a8a;
  font-weight: 700;
  font-size: 3vmax;
}
.text p{
  font-weight: lighter;;
  font-size: 1.7vmax;
}
.title .text{
  text-align: right;
  padding: 3rem;
  align-items: flex-end;
}
.title .icona{
  padding: 3rem;
}
.title .layout-gt-sm-row{
  height: 100vh;
}

pvs-footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}
.footer {
  padding: 0.3rem;
  font-size: .6rem;
  background-color: #1f1f1f;
  text-align: center;
  color: white;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer a:hover {
  color: #5aadbb;
}
